TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
BT_SPEAKER_MAC=41:42:E0:C6:CC:DB
OLLAMA_MODEL=qwen2.5:3b
WHISPER_MODEL=base
PIPER_VOICE=ru_RU-ruslan-medium
PIPER_SPEED=1.0
MIC_DEVICE_INDEX=
BT_RECONNECT_INTERVAL=30
