[Unit]
Description=Rover robot 
Wants=dev-video0.device dev-input-js0.device
After=network.target dev-video0.device dev-input-js0.device

[Service]
Type=simple
User=volodya
WorkingDirectory=/home/volodya/roverPi/src
ExecStart=/home/volodya/roverPi/src/start_all.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target